<app-nav-bar [opened]="menuOpened" (menuToggle)="setMenuState($event)" ></app-nav-bar>
<div class="content-fluid">
  <H1>{{menuOpened}}</H1>
  <app-full-banner></app-full-banner>

  <!-- para a variavel title, que esta dentro de list-tiles eu passo uma string
  por isso não precisa nos [] -->
  <!-- para a variavel list, eu passo outra variavel, a listTitles, por isso
  precisa dos [] -->
  <!-- listTitles é nativa no app.component.ts, e ela e o title estão sendo
  passadas para o filho de app.component, que é o list-titles.component -->
  <!-- title e list são variaves que devem ser declaras dentro de
  list-title.components -->
  <app-list-titles title="Adicionado Recentemente" [list]="listTitles" ></app-list-titles>
  <app-list-titles title="Em alta" [list]="listTitles"></app-list-titles>
  <app-list-titles title="Continuar assistindo como Báh" [list]="listTitles"></app-list-titles>
</div>

<app-footer></app-footer>
<div *ngIf="menuOpened" class="backdrop" (click)="closeMenu()" ></div>
